<style>
    .card-1 {
        width: 600px;
        border-radius: 18px;
        border: none
    }

    .card-2 {
        border-radius: 20px
    }

    .card-child {
        border: 3px solid rgb(15, 15, 15);
        border-radius: 16px
    }
</style>





<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">checkout</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="index-2.html"><i class="lni lni-home"></i> Home</a></li>
                    <li><a href="index-2.html">Shop</a></li>
                    <li>checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<section class="checkout-wrapper section">
    <div class="container">

        <div class="row">

            <div class="coupon">
                <h3 id="CouponMsg"></h3>
                <form id="ApplyCoupon" style="display: flex;">
                    <input type="text" name="coupon"
                        style="padding: 12px 20px; margin: 8px 0;box-sizing: border-box;border: 2px solid rgb(17, 16, 16); border-radius: 4px;"
                        placeholder="Enter Your Coupon">
                    <div class="button" style="padding: 8px;">
                        <button type="submit" class="btn btn-success">Apply Coupon</button>
                    </div>
                </form>
            </div>
        </div>
        {{!-- FORM --}}
        <form action="" id="checkoutform">

            <div class="row justify-content-center mt-2">
                <div class="col-lg-8">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">


                            {{!-- <li>
                                <h6 class="title" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree">Your Personal Details </h6>
                                <section class="checkout-steps-form-content collapse show" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>User Name</label>
                                                <div class="row">
                                                    <div class="col-md-6 form-input form">
                                                        <input type="text" placeholder="First Name">
                                                    </div>
                                                    <div class="col-md-6 form-input form">
                                                        <input type="text" placeholder="Last Name">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Email Address</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Email Address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Phone Number</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Phone Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Mailing Address</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Mailing Address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>City</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="City">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Post Code</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Post Code">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Country</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Country">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Region/State</label>
                                                <div class="select-items">
                                                    <select class="form-control">
                                                        <option value="0">select</option>
                                                        <option value="1">select option 01</option>
                                                        <option value="2">select option 02</option>
                                                        <option value="3">select option 03</option>
                                                        <option value="4">select option 04</option>
                                                        <option value="5">select option 05</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-checkbox checkbox-style-3">
                                                <input type="checkbox" id="checkbox-3">
                                                <label for="checkbox-3"><span></span></label>
                                                <p>My delivery and mailing addresses are the same.</p>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form button">
                                                <button class="btn" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">next
                                                    step</button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </li> --}}



                            <li>
                                <h6 class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">Shipping Address</h6>
                                <section class="checkout-steps-form-content collapse" id="collapseFour"
                                    aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                    <div class="row">
                                        {{!-- <div class="col-md-12">
                                            <h5 style="text-align: right;"><a class="btn btn-outline-dark mt-2"
                                                    href="/profile">Select address</a></h5>
                                            <div class="single-form form-default">
                                                <label>User Name</label>
                                                <div class="row">
                                                    <div class="col-md-12 form-input form">
                                                        <input type="text" placeholder="First Name" name="fname">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Email Address</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Email Address" name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Phone Number</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Phone Number" name="mobile">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Mailing Address</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Mailing Address" name="address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>City</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="City" name="city">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Post Code</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Post Code" name="pincode">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Country</label>
                                                <div class="form-input form">
                                                    <input type="text" placeholder="Country" name="country">
                                                </div>
                                            </div>
                                        </div> --}}
                                        <input type="text" name="userId" value="{{user._id}}" hidden>



                                        {{!-- ---------------------card address------------- --}}
                                        {{#each address}}
                                        <div class="card p-3 py-3 mt-3 card-1 ">


                                            <div class="p-3 card-2">

                                                <div class="p-3 card-child">
                                                    <div>
                                                        <label for="" class="radio-inline">
                                                            <input type="radio" name="addressId" value="{{this._id}}"
                                                                id="" checked>

                                                        </label>
                                                    </div>
                                                    <div class="d-flex flex-row">
                                                        <div class="d-flex flex-column ms-3">
                                                            <h6>Name: {{this.name}}</h6>
                                                            <h6>Email: {{this.email}}</h6>
                                                            <h6>Mob: {{this.mobile}}</h6>
                                                            <h6>Place: {{this.city}}</h6>
                                                            <h6>Pin code:{{this.pincode}}</h6>
                                                            <h6>Address: {{this.address}}</h6>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                        {{/each}}
                                        {{!-- ---------------------card address------------- --}}












                                    </div>


                                </section>
                            </li>


                            <li>
                                <h6 class="title collapsed" data-bs-toggle="collapse" data-bs-target="#collapsefive"
                                    aria-expanded="false" aria-controls="collapsefive">Payment Info</h6>
                                <section class="checkout-steps-form-content collapse" id="collapsefive"
                                    aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                    <div class="row">
                                        <div class="col-12">
                                            {{!-- <div class="checkout-payment-form">
                                                <div class="single-form form-default">
                                                    <label>Cardholder Name</label>
                                                    <div class="form-input form">
                                                        <input type="text" placeholder="Cardholder Name">
                                                    </div>
                                                </div>
                                                <div class="single-form form-default">
                                                    <label>Card Number</label>
                                                    <div class="form-input form">
                                                        <input id="credit-input" type="text"
                                                            placeholder="0000 0000 0000 0000">
                                                        <img src="assets/images/payment/card.png" alt="card">
                                                    </div>
                                                </div>
                                                <div class="payment-card-info">
                                                    <div class="single-form form-default mm-yy">
                                                        <label>Expiration</label>
                                                        <div class="expiration d-flex">
                                                            <div class="form-input form">
                                                                <input type="text" placeholder="MM">
                                                            </div>
                                                            <div class="form-input form">
                                                                <input type="text" placeholder="YYYY">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="single-form form-default">
                                                        <label>CVC/CVV <span><i
                                                                    class="mdi mdi-alert-circle"></i></span></label>
                                                        <div class="form-input form">
                                                            <input type="text" placeholder="***">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="single-form form-default button">
                                                    <button class="btn">pay now</button>
                                                </div>
                                            </div> --}}
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="col-12">

                                                <div class="payment">
                                                    <label for="" class="radio-inline">
                                                        <input type="radio" name="payment-method" value="COD" id=""
                                                            checked> COD
                                                    </label><br>
                                                    <label for="" class="radio-inline mt-2">
                                                        <input type="radio" name="payment-method" value="ONLINE" id="">
                                                        RAZOR PAY.
                                                    </label>
                                                    <label for="" class="radio-inline mt-2">
                                                        <input type="radio" name="payment-method" value="PAYPAL" id="">
                                                        PAYPAL.
                                                    </label>
                                                </div>
                                            </div>


                                        </div>
                                </section>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout-sidebar">

                        {{!-- <div class="checkout-sidebar-coupon "> --}}

                            {{!-- APPLY COUPON --}}
                            {{!-- <form action="/applyCoupon" method="get" id="coupon_form">
                                <div class="single-form form-default">
                                    <div class="form-input form">
                                        <input type="text" name="coupon" placeholder="Coupon Code">
                                        <input type="hidden" name="total" value="{{total}}">
                                    </div>
                                    <div class="button">
                                        <button type="submit" class="btn">apply</button>

                                    </div>
                                </div>
                            </form> --}}


                            {{!-- </div> --}}


                        <div class="checkout-sidebar-price-table mt-26">

                            <h5 class="title">Pricing Table</h5>
                            <div class="sub-total-price">
                                {{!-- <div class="total-price">
                                    <p class="value">Subotal Price:</p>
                                    <p class="price">$144.00</p>
                                </div>
                                <div class="total-price shipping">
                                    <p class="value">Subotal Price:</p>
                                    <p class="price">$10.50</p>
                                </div>
                                <div class="total-price discount">
                                    <p class="value">Subotal Price:</p>
                                    <p class="price">$10.00</p>
                                </div> --}}
                            </div>
                            <div class="total-payable">
                                <div class="payable-price">
                                    <p class="value">total Price:</p>
                                    <p class="price" id="tootal">{{total}}</p>

                                </div>
                            </div>
                            <div class="total-payable">
                                <div class="payable-price">
                                    <p class="value"> discount price:</p>
                                    <p class="price" id="coupon">{{discount}}</p>

                                </div>
                            </div>

                            {{#if wallet}}
                            <div class="total-payable">
                                <div class="payable-price">
                                    <div class="d-flex ">
                                        <p class="value"> wallet amount</p>
                                        <input type="checkbox" id="wallet" name="checked"
                                            onclick="checkWallet('100','{{grandTotal}}')" value="100" style="    margin-top: 7px;
    margin-left: 10px;" />
                                    </div>
                                    <p class="price">{{wallet}}</p>

                                </div>
                            </div>
                            {{/if}}

                            <script>
                                function checkWallet(wallet, total) {
                                    if (document.getElementById('wallet').checked) {
                                        let ttotal = parseFloat(total) - parseFloat(wallet)
                                        document.getElementById('total').innerHTML = ttotal;
                                    } else {
                                        document.getElementById('total').innerHTML = total;
                                    }
                                }
                            </script>




                            <div class="total-payable">
                                <div class="payable-price">
                                    <p class="value">Grand total:</p>
                                    <p class="price" id="total">{{grandTotal}}</p>

                                </div>
                            </div>

                            {{!-- <div class="row">
                                <div class="col-12">

                                    <div class="payment">
                                        <label for="" class="radio-inline">
                                            <input type="radio" name="payment-method" value="COD" id="" checked> COD
                                        </label><br>
                                        <label for="" class="radio-inline mt-2">
                                            <input type="radio" name="payment-method" value="online" id="">
                                            Online Payment.
                                        </label>
                                    </div>
                                </div>


                            </div> --}}
                            <div class="price-table-btn button">
                                <button class="btn btn-alt" type="submit">Checkout</button>
                                {{!-- <a href="javascript:void(0)" class="btn btn-alt">Checkout</a> --}}
                            </div>

                        </div>
                        {{!-- <div class="checkout-sidebar-banner mt-30">
                            <a href="product-grids.html">
                                <img src="assets/images/banner/banner.jpg" alt="#">
                            </a>
                        </div> --}}
                    </div>
                </div>
            </div>
            {{!-- /FORM --}}
        </form>

    </div>
</section>


{{!-- <section>
    <container class="mt-5">
        <form action="" id="checkout-form">
            <div class="row">

                <div class="col-md-6">
                    <h2>Enter delivery Details</h2>
                </div>
                <div>
                    <label for="">Addres</label>
                    <input class="form-control" type="text" id="address" name="address">

                    <label for="">pincode</label>
                    <input class="form-control" type="text" id="pincode" name="pincode">

                    <label for="">Mobile</label>
                    <input class="form-control" type="text" id="mobile" name="mobile">

                    <input type="text" name="userId" value="{{user._id}}" hidden>
                </div>

            </div>

            <div class="col-md-4">
                <div class="container mt-5 ml-5 checkout">
                    <h5>Total Amount {{total}}</h5>
                    <hr>
                    <div class="payment">
                        <p>payment method</p>
                        <label for="" class="radio inline">
                            <input type="radio" name="payment-method" value="COD" checked>COD
                        </label>
                        <label for="" class="radio inline  mt-2">
                            <input type="radio" name="payment-method" value="ONLINE" checked>Online payment
                        </label>
                        <button class="btn btn-primary float-right" type="submit"> Checkout</button>
                    </div>
                </div>
            </div>

        </form>
    </container>
</section> --}}









{{!-- <style>
    input[type=radio] {
        width: 90px;
        height: 20px;
    }

    label.radio-inline {
        display: flex;
        align-items: center;
    }
</style> --}}

{{!--
<script>
    $('#ApplyCoupon').submit((e) => {
        e.preventDefault()
        alert(yayayayayayayay)
        $.ajax({
            url: '/applyCoupon',
            method: 'post',
            data: $('#ApplyCoupon').serialize(),
            success: (response) => {
                if (response.CoupenUsed) {
                    document.getElementById('CouponMsg').innerHTML = "Coupon Already Used"
                }
                else if (response.Coupon) {
                    let total = document.getElementById('tootal').innerHTML

                    document.getElementById('CouponMsg').innerHTML = "Coupon Applied"
                    document.getElementById("total").innerHTML = total - response.CoupDiscount

                    document.getElementById("coupon").innerHTML = response.CoupDiscount
                }
                else if (response.NoCoupon) {
                    document.getElementById('CouponMsg').innerHTML = "No Coupon Found"
                }
                else if (response.OneCouponUsed) {
                    document.getElementById('CouponMsg').innerHTML = "Already One Coupon Used"
                }

            }
        })
    })
</script> --}}